<h1>Home Page</h1>

<section>
  <%= link_to 'Flights', flights_path, :class => "btn btn-default" %>
  <%= link_to 'Airplanes', airplanes_path, :class => "btn btn-default" %>
  <%= link_to 'Reservations', reservations_path, :class => "btn btn-default" %>
  <%= link_to 'Search', search_path, :class => "btn btn-default" %>
<section>